body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color3) !important;
  margin-bottom: 6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #252323;
  --color2: #70798C;
  --color3: #F5F1ED;
  --color4: #DAD2BC;
  --color5: #A99985;
}

/* BUTTONS */
/* need to find way to override primary color */
.buttonPrimary {
  background-color: var(--color2) !important;
  border: var(--color2) !important;
  align-self: center;
}

.buttonPrimary:hover {
  background-color: var(--color5) !important;
}

.buttonPrimary:active {
  background-color: var(--color4) !important;
}

/* HOME */
.jumbotron {
  background-image: url('../public/pexels-paul-ijsendoorn-33041.jpg');
  background-size: cover;
  border-radius: 0.5em;
}

/* NAV ITEMS */

.nav-logo {
  border: 2px solid;
  padding: 0.5em;
  border-radius: 0.5em;
}

.nav-background {
  background-color: var(--color1);
}

.nav-text {
  color: var(--color3) !important;
}

.navbar-toggler {
  background-color: var(--color3) !important;
}

/* PROJECT PAGE */

.noDec {
  text-decoration: none;
  color: var(--color3)
}

.noDec:hover {
  text-decoration: none;
  color: var(--color1)

}

.cardImage {
  width: auto;
  height: 15rem;
}

/* NOMATCH PAGE */
.nomatch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* FOOTER */
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

